<% layout('layout') %>
<h1 class="mb-2 mt-5 text-center">Search Results for <%= search %></h1>

<div class="container">
    <div class="row col-6 float-start">
        <h2 class="mb-5 mt-5 text-center">Movies</h2>
        <% for (let movie of movies) { %>
        <div class="position-relative col-4 mb-5">
            <% if (movie.poster) { %>
            <a href="/movies/<%= movie._id %>" class="stretched-link"><img src="<%= movie.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <a href="/movies/<%= movie._id %>" class="stretched-link fs-4"><%= movie.name %></a>
            <% } %>
        </div>
        <% } %>
    </div>
</div>

<div class="container">
    <div class="row col-6 float-end">
        <h2 class="mb-5 mt-5 text-center">Shows</h2>
        <% for (let show of shows) { %>
        <div class="position-relative col-4 mb-5">
            <% if (show.poster) { %>
            <a href="/shows/<%= show._id %>" class="stretched-link"><img src="<%= show.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <a href="/shows/<%= show._id %>" class="stretched-link fs-4"><%= show.name %></a>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
