<% layout('layout') %>
<h1>Want to rent <%= movie.name %></h1>
<div>
    <a href="/movies/<%= movie._id %>/edit" class="btn btn-primary">Update</a>
    <a href="" class="btn btn-danger">Delete</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class=col-3>
            <img class="img-fluid" src="<%= movie.poster %>">
            <h4>Genres</h4>
            <ul>
            <% for (let genre of movie.genres) { %>
                <li><a href=""><%= genre %></a></li>
            <% } %>
            </ul>
        </div>
        <div class="col-3">
            <h2><%= movie.name %></h2>
            <p class="card-text"><%= movie.overview %></p>
        </div>
        <div class="col-6">
            <ul>
                <li>Sample Comment</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!t</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
            </ul>
        </div>
    </div>
</div>