<% layout('layout') %>

<% if (user && user.role === 'admin') { %>
<a href="/admin" class="btn btn-primary mt-5">Admin Panel</a>
<% } %>

<h1 class="mt-5">Rentals for <%= user.username %></h1>

<div class="container">
    <div class="row col-6 float-start">
        <h2 class="mb-5 mt-5 text-center border-bottom">Movies</h2>
        <% for (let movie of user.movieRentals) { %>
        <div class="position-relative col-4 mb-5">
            <% if (movie.poster) { %>
                <a href="/movies/<%= movie._id %>" class="stretched-link"><img src="<%= movie.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <p><%= movie.name %></p>
            <% } %>
        </div>
        <% } %>
    </div>
</div>

<div class="container">
    <div class="row col-6 float-end">
        <h2 class="mb-5 mt-5 text-center border-bottom">Shows</h2>
        <% for (let show of user.showRentals) { %>
        <div class="position-relative col-4 mb-5">
            <% if (show.poster) { %>
                <a href="/shows/<%= show._id %>" class="stretched-link"><img src="<%= show.poster %>" class="img-fluid rounded-pill"></a>
            <% } else { %>
            <p><%= show.name %></p>
            <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
