<% layout('layout') %>
<h1>Update <%= show.name %></h1>

<div class="container mt-5">
    <form action="/shows/<%= show._id %>?_method=PATCH" method="POST">
        <div class="mb-3">
            <label class="form-label" for="name">TV Show Name</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= show.name %>" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="poster">Poster URL</label>
            <input class="form-control" type="text" id="poster" name="poster" value="<%= show.poster %>" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="summary">Summary</label>
            <textarea class="form-control" id="summary" name="summary"required><%= show.summary %></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="genres">Genres</label>
            <input class="form-control" type="text" id="genres" name="genres" value="<%= show.genres %>" required>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Update TV Show</button>
        </div>
    </form>
</div>