<% layout('layout') %>
<h1>Want to rent <%= show.name %></h1>
<div class="d-flex">
    <a href="/shows/<%= show._id %>/edit" class="btn btn-primary d-inline me-1">Update</a>
    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class=col-3>
            <img class="img-fluid" src="<%= show.poster %>">
            <h4>Genres</h4>
            <ul>
            <% for (let genre of show.genres) { %>
                <li><a href=""><%= genre %></a></li>
            <% } %>
            </ul>
        </div>
        <div class="col-3">
            <h2><%= show.name %></h2>
            <p class="card-text"><%= show.summary %></p>
        </div>
        <div class="col-6">
            <% for (let review of show.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Rated <%= review.rating %></h3>
                    </div>
                    <p class="card-text"><%= review.body %></p>
                </div>
                <form action="/shows/<%= show._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete Review</button>
                </form>
            </div>
            <% } %>
        </div>
        <div class="col-6">
            <h3>Leave a review for <%= show.name %></h3>
            <form action="/shows/<%= show._id  %>/review" method="POST" class="mb-3">
                <div class="mb-3">
                    <div class="col-4">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" id="rating" name="rating" type="range" min="1" max="5">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="body" id="body" cols="30" rows="10"></textarea>
                </div>
                <button class="btn btn-success">Submit Review</button>
            </form>
        </div>
    </div>
</div>
