<% layout('layout') %>
<h1>Want to rent <%= show.name %></h1>
<div class="d-flex">
    <a href="/shows/<%= show._id %>/edit" class="btn btn-primary d-inline me-1">Update</a>
    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class=col-3>
            <img class="img-fluid" src="<%= show.poster %>">
            <h4>Genres</h4>
            <ul>
            <% for (let genre of show.genres) { %>
                <li><a href=""><%= genre %></a></li>
            <% } %>
            </ul>
        </div>
        <div class="col-3">
            <h2><%= show.name %></h2>
            <p class="card-text"><%= show.summary %></p>
        </div>
        <div class="col-6">
            <ul>
                <li>Sample Comment</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!t</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia necessitatibus perspiciatis quo itaque, obcaecati impedit dolorum. Cumque in sapiente ea ad, minus voluptatem assumenda, hic voluptas alias, fuga deserunt!</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
                <li>Sample Comment</li>
            </ul>
        </div>
    </div>
</div>