<% layout('layout') %>
<h1 class="text-center mt-5">Want to rent <%= show.name %></h1>

<% if (user && user.role === 'admin') { %>
<div class="d-flex">
    <a href="/shows/<%= show._id %>/edit" class="btn btn-primary d-inline me-1">Update</a>
    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
<% } %>

<div class="container mt-5">
    <div class="row">
        <div class=col-3>
            <img class="img-fluid mb-4" src="<%= show.poster %>">
            <h3><%= show.inventory %> in stock</h3>
            <div class="d-flex justify-content-around">

                <% if (user && show.inventory > 0 && !(show.renters.includes(user._id))) { %>
                <form action="/shows/<%= show._id %>/rent?_method=PATCH" method="POST" class="d-inline mt-1">
                    <button class="btn btn-primary">Rent <%= show.name %> Now</button>
                </form>
                <% } %>

                <% if (user && show.inventory < 5 && show.renters.includes(user._id)) { %>
                <form action="/shows/<%= show._id %>/return?_method=PATCH" method="POST" class="d-inline mt-1">
                    <button class="btn btn-danger">Return</button>
                </form>
                <% } %>

            </div>

            <h4>Genres</h4>
            <ul>
            <% for (let genre of show.genres) { %>
                <li><a href="/shows/genre/<%= genre %>"><%= genre %></a></li>
            <% } %>
            </ul>
        </div>
        <div class="col-3">
            <h3 class="text-center mb-3"><%= show.name %></h3>
            <p class="card-text text-center"><%= show.summary.replace(/<\/?.>/g, ' ') %></p>
        </div>

        <div class="col-6">
            <div class="col-8 offset-2">
                <h3 class="text-center">Leave a review for <%= show.name %></h3>
                <form action="/shows/<%= show._id  %>/review" method="POST" class="mb-3">
                    <div class="mb-2 d-flex justify-content-evenly">
                        <p>Would you recommend this show</p>
                        <div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="recommend">Yes</label>
                                <input id="recommendYes" name="recommend" type="radio" class="form-check-input" value="y" checked>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="recommend">No</label>
                                <input id="recommendNo" name="recommend" type="radio" class="form-check-input" value="n">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="body" id="body" cols="30" rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary">Submit Review</button>
                </form>
            </div>

            <% for (let review of show.reviews) { %>
            <div class="card mb-3 bg-secondary text-light">
                <div class="card-body">
                    <div class="card-title">
                        <% if (review.recommend === 'y') { %>
                        <h2><span class="fs-2">Recommended</span><span class="fs-5 ms-3"> by <%= review.author.username %></span></h2>
                        <% } else { %>
                        <h2><span class="fs-2">Not recommended</span><span class="fs-5 ms-3"> by <%= review.author.username %></span></h2>
                        <% } %>
                    </div>
                    <p class="card-text ms-4"><%= review.body %></p>
                </div>

                <% if (user && review.author.equals(user._id)) { %>
                <form action="/shows/<%= show._id %>/review/<%= review._id %>?_method=DELETE" method="POST" class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-danger me-2 mb-2">Delete Review</button>
                </form>
                <% } %>

            </div>
            <% } %>
        </div>
    </div>
</div>
